{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block styles %}<link rel="stylesheet" href="{% static 'css/home.css' %}">{% endblock %}
{% block content %}
<div id="content">
    <div class="container-fluid">
        <div class="row">
            <form class="col-md-4 col-lg-4 offset-md-4 offset-lg-4" method="POST" action="">
                <h3 class="text-center">{{title}}</h3>
                {% if message is not None %}
                <div class="alert alert-{{ message.type }}">{{ message.text }}</div>
                {% endif %}
                {% csrf_token %}
                {% for f in form %}
                    <div class="form-group">
                        {{ f.label }}
                        {{ f }}
                        {% for error in f.errors %}
                        <div class="invalid-feedback" style="display: initial;">{{ error }}</div>
                        {% endfor %}
                    </div>
                {% endfor %}
                <a href="{{link_href}}" style="
                    display: block;
                    text-align: center;
                    margin-bottom: 20px;
                ">{{link_text}}</a>
                {% if title == 'Login'%}
                <a href={% url 'recovery' %} class="text-center mt-2 mb-2" style="display: block;">Esqueci minha senha</a>
                {% endif %}
                <button type="submit" class="btn btn-primary">{{button_text}}</button>

                {% if title != 'Recuperar senha' and title != 'Alterar senha' %}
                <p class="text-center mt-2 mb-2" style="display: block;">Ou</p>
                <div class="social-container">
                    <a class="btn" id="facebook" href="{% url 'social:begin' 'facebook' %}"><i class="fa fa-facebook-f"></i></a>
                    <a class="btn" id="google" href="{% url 'social:begin' 'google-oauth2' %}"><i class="fa fa-google"></i></a>
                </div>
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock %}