{% extends "base.html" %}
{% load static %}
{% block title %}Início{% endblock %}
{% block styles %}<link rel="stylesheet" href="{% static 'css/home.css' %}">{% endblock %}
{% block content %}
<div id="content">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 offset-sm-0 offset-md-3 offset-md-3">
            <form action={% url 'medics' %} method="GET">
                <h3 class="text-center">Buscar um médico</h3>
                <div class="form-row">
                    <div class="col form-group"><input type="text" class="form-control" name="name" placeholder="Buscar por nome"></div>
                </div>
                <div class="form-row">
                    <div class="col form-group">
                        <select class="form-control" name="speciality">
                            <option value="0" selected disabled>Selecione uma especialidade</option>
                            <option value="1">Neurocirugia</option>
                        </select>
                    </div>
                    <div class="col form-group">
                        <select class="form-control" name="state">
                            <option value="0" selected disabled>Selecione um estado</option>
                            <option value="1">Rio de Janeiro</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col form-group">
                        <select class="form-control" name="city">
                            <option value="0" selected disabled>Selecione uma cidade</option>
                            <option value="1">Rio de Janeiro</option>
                        </select>
                    </div>
                    <div class="col form-group">
                        <select class="form-control" name="neighborhood">
                            <option value="0" selected disabled>Selecione um bairro</option>
                            <option value="1">Botafogo</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col form-group mb-0"><button type="submit" class="btn btn-primary">Buscar</button></div>
                </div>
            </form>
        </div>
      </div>
    </div>
</div>
{% endblock %}
{% block scripts %}<script src="{% static 'js/home.js' %}"></script>{% endblock %}